FrontEnd/frontecotech/src/assets/WebService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is JAX-WS RI 2.3.1 svn-revision#6ef5f7eb9a938dbc4562f25f8fa0b67cc4ff2dbb. -->
<definitions targetNamespace="http://interfaceservice.webservice.javeriana.edu.co/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://interfaceservice.webservice.javeriana.edu.co/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <binding name="ServicioPaseoPortBinding" type="ns1:InterfaceECHOTECH" xmlns:ns1="http://interfaceservice.webservice.javeriana.edu.co/">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="crearServicio">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="crearServicioAlimentacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="crearServicioAlojamiento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="crearServicioPaseo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="crearServicioOtro">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="crearServicioTransporte">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="leerServicio">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="leerPaseo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="leerTodosServicio">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarServicio">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarServicio">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="agregarUsuarioAServicio">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getListaPreguntas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="leerAlimentacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="leerAlojamiento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="leerOtro">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="leerTransporte">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="crearUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="leerUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="leerTodosUsuarios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="leerUsuarioPorNickname">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="login">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerClientePorNickname">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerProveedorPorNickname">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="crearCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="crearProveedor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="crearComentario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="leerComentario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="leerTodosComentarios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarComentario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarComentario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="crearPregunta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="leerPregunta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="leerTodosPreguntas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarPregunta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarPregunta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="agregarPregunta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ServicioPaseoService">
    <port name="ServicioPaseoPort" binding="tns:ServicioPaseoPortBinding">
      <soap:address location="http://3.81.211.250/WS/servicios" />
    </port>
  </service>
  <types>
    <xs:schema version="1.0" targetNamespace="http://interfaceservice.webservice.javeriana.edu.co/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="actualizarComentario" type="tns:actualizarComentario"/>

      <xs:element name="actualizarComentarioResponse" type="tns:actualizarComentarioResponse"/>

      <xs:element name="actualizarPregunta" type="tns:actualizarPregunta"/>

      <xs:element name="actualizarPreguntaResponse" type="tns:actualizarPreguntaResponse"/>

      <xs:element name="actualizarServicio" type="tns:actualizarServicio"/>

      <xs:element name="actualizarServicioResponse" type="tns:actualizarServicioResponse"/>

      <xs:element name="actualizarUsuario" type="tns:actualizarUsuario"/>

      <xs:element name="actualizarUsuarioResponse" type="tns:actualizarUsuarioResponse"/>

      <xs:element name="agregarPregunta" type="tns:agregarPregunta"/>

      <xs:element name="agregarPreguntaResponse" type="tns:agregarPreguntaResponse"/>

      <xs:element name="agregarUsuarioAServicio" type="tns:agregarUsuarioAServicio"/>

      <xs:element name="agregarUsuarioAServicioResponse" type="tns:agregarUsuarioAServicioResponse"/>

      <xs:element name="crearCliente" type="tns:crearCliente"/>

      <xs:element name="crearClienteResponse" type="tns:crearClienteResponse"/>

      <xs:element name="crearComentario" type="tns:crearComentario"/>

      <xs:element name="crearComentarioResponse" type="tns:crearComentarioResponse"/>

      <xs:element name="crearPregunta" type="tns:crearPregunta"/>

      <xs:element name="crearPreguntaResponse" type="tns:crearPreguntaResponse"/>

      <xs:element name="crearProveedor" type="tns:crearProveedor"/>

      <xs:element name="crearProveedorResponse" type="tns:crearProveedorResponse"/>

      <xs:element name="crearServicio" type="tns:crearServicio"/>

      <xs:element name="crearServicioAlimentacion" type="tns:crearServicioAlimentacion"/>

      <xs:element name="crearServicioAlimentacionResponse" type="tns:crearServicioAlimentacionResponse"/>

      <xs:element name="crearServicioAlojamiento" type="tns:crearServicioAlojamiento"/>

      <xs:element name="crearServicioAlojamientoResponse" type="tns:crearServicioAlojamientoResponse"/>

      <xs:element name="crearServicioOtro" type="tns:crearServicioOtro"/>

      <xs:element name="crearServicioOtroResponse" type="tns:crearServicioOtroResponse"/>

      <xs:element name="crearServicioPaseo" type="tns:crearServicioPaseo"/>

      <xs:element name="crearServicioPaseoResponse" type="tns:crearServicioPaseoResponse"/>

      <xs:element name="crearServicioResponse" type="tns:crearServicioResponse"/>

      <xs:element name="crearServicioTransporte" type="tns:crearServicioTransporte"/>

      <xs:element name="crearServicioTransporteResponse" type="tns:crearServicioTransporteResponse"/>

      <xs:element name="crearUsuario" type="tns:crearUsuario"/>

      <xs:element name="crearUsuarioResponse" type="tns:crearUsuarioResponse"/>

      <xs:element name="eliminarComentario" type="tns:eliminarComentario"/>

      <xs:element name="eliminarComentarioResponse" type="tns:eliminarComentarioResponse"/>

      <xs:element name="eliminarPregunta" type="tns:eliminarPregunta"/>

      <xs:element name="eliminarPreguntaResponse" type="tns:eliminarPreguntaResponse"/>

      <xs:element name="eliminarServicio" type="tns:eliminarServicio"/>

      <xs:element name="eliminarServicioResponse" type="tns:eliminarServicioResponse"/>

      <xs:element name="eliminarUsuario" type="tns:eliminarUsuario"/>

      <xs:element name="eliminarUsuarioResponse" type="tns:eliminarUsuarioResponse"/>

      <xs:element name="getListaPreguntas" type="tns:getListaPreguntas"/>

      <xs:element name="getListaPreguntasResponse" type="tns:getListaPreguntasResponse"/>

      <xs:element name="leerAlimentacion" type="tns:leerAlimentacion"/>

      <xs:element name="leerAlimentacionResponse" type="tns:leerAlimentacionResponse"/>

      <xs:element name="leerAlojamiento" type="tns:leerAlojamiento"/>

      <xs:element name="leerAlojamientoResponse" type="tns:leerAlojamientoResponse"/>

      <xs:element name="leerComentario" type="tns:leerComentario"/>

      <xs:element name="leerComentarioResponse" type="tns:leerComentarioResponse"/>

      <xs:element name="leerOtro" type="tns:leerOtro"/>

      <xs:element name="leerOtroResponse" type="tns:leerOtroResponse"/>

      <xs:element name="leerPaseo" type="tns:leerPaseo"/>

      <xs:element name="leerPaseoResponse" type="tns:leerPaseoResponse"/>

      <xs:element name="leerPregunta" type="tns:leerPregunta"/>

      <xs:element name="leerPreguntaResponse" type="tns:leerPreguntaResponse"/>

      <xs:element name="leerServicio" type="tns:leerServicio"/>

      <xs:element name="leerServicioResponse" type="tns:leerServicioResponse"/>

      <xs:element name="leerTodosComentarios" type="tns:leerTodosComentarios"/>

      <xs:element name="leerTodosComentariosResponse" type="tns:leerTodosComentariosResponse"/>

      <xs:element name="leerTodosPreguntas" type="tns:leerTodosPreguntas"/>

      <xs:element name="leerTodosPreguntasResponse" type="tns:leerTodosPreguntasResponse"/>

      <xs:element name="leerTodosServicio" type="tns:leerTodosServicio"/>

      <xs:element name="leerTodosServicioResponse" type="tns:leerTodosServicioResponse"/>

      <xs:element name="leerTodosUsuarios" type="tns:leerTodosUsuarios"/>

      <xs:element name="leerTodosUsuariosResponse" type="tns:leerTodosUsuariosResponse"/>

      <xs:element name="leerTransporte" type="tns:leerTransporte"/>

      <xs:element name="leerTransporteResponse" type="tns:leerTransporteResponse"/>

      <xs:element name="leerUsuario" type="tns:leerUsuario"/>

      <xs:element name="leerUsuarioPorNickname" type="tns:leerUsuarioPorNickname"/>

      <xs:element name="leerUsuarioPorNicknameResponse" type="tns:leerUsuarioPorNicknameResponse"/>

      <xs:element name="leerUsuarioResponse" type="tns:leerUsuarioResponse"/>

      <xs:element name="login" type="tns:login"/>

      <xs:element name="loginResponse" type="tns:loginResponse"/>

      <xs:element name="obtenerClientePorNickname" type="tns:obtenerClientePorNickname"/>

      <xs:element name="obtenerClientePorNicknameResponse" type="tns:obtenerClientePorNicknameResponse"/>

      <xs:element name="obtenerProveedorPorNickname" type="tns:obtenerProveedorPorNickname"/>

      <xs:element name="obtenerProveedorPorNicknameResponse" type="tns:obtenerProveedorPorNicknameResponse"/>

      <xs:complexType name="leerTodosPreguntas">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="leerTodosPreguntasResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:pregunta" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="pregunta">
        <xs:sequence>
          <xs:element name="clientes" type="tns:cliente" minOccurs="0"/>
          <xs:element name="descripcion" type="xs:string" minOccurs="0"/>
          <xs:element name="fecha" type="xs:string" minOccurs="0"/>
          <xs:element name="id" type="tns:objectId" minOccurs="0"/>
          <xs:element name="respuesta" type="xs:string" minOccurs="0"/>
          <xs:element name="servicio" type="tns:servicio" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="cliente">
        <xs:complexContent>
          <xs:extension base="tns:usuario">
            <xs:sequence>
              <xs:element name="comentarios" type="tns:comentario" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="di" type="xs:string" minOccurs="0"/>
              <xs:element name="preguntas" type="tns:pregunta" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="servicios" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="usuario">
        <xs:sequence>
          <xs:element name="correo" type="xs:string" minOccurs="0"/>
          <xs:element name="descripcion" type="xs:string" minOccurs="0"/>
          <xs:element name="fechaNacimiento" type="xs:string" minOccurs="0"/>
          <xs:element name="foto" type="xs:string" minOccurs="0"/>
          <xs:element name="id" type="xs:string" minOccurs="0"/>
          <xs:element name="nickname" type="xs:string" minOccurs="0"/>
          <xs:element name="nombre" type="xs:string" minOccurs="0"/>
          <xs:element name="password" type="xs:string" minOccurs="0"/>
          <xs:element name="rolUsuario" type="tns:rolUsuario" minOccurs="0"/>
          <xs:element name="_id" type="tns:objectId" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="comentario">
        <xs:sequence>
          <xs:element name="cliente" type="tns:cliente" minOccurs="0"/>
          <xs:element name="descripcion" type="xs:string" minOccurs="0"/>
          <xs:element name="fecha" type="xs:string" minOccurs="0"/>
          <xs:element name="id" type="xs:string" minOccurs="0"/>
          <xs:element name="servicio" type="tns:servicio" minOccurs="0"/>
          <xs:element name="_id" type="tns:objectId" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="servicio">
        <xs:sequence>
          <xs:element name="calificaciones" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="contacto" type="xs:string" minOccurs="0"/>
          <xs:element name="costo" type="xs:long"/>
          <xs:element name="descripcion" type="xs:string" minOccurs="0"/>
          <xs:element name="fotos" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="id" type="xs:string" minOccurs="0"/>
          <xs:element name="latitud" type="xs:long"/>
          <xs:element name="longitud" type="xs:long"/>
          <xs:element name="nombre" type="xs:string" minOccurs="0"/>
          <xs:element name="tipo" type="tns:tipoServicio" minOccurs="0"/>
          <xs:element name="_id" type="tns:objectId" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="objectId" final="extension restriction">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="actualizarServicio">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
          <xs:element name="arg1" type="tns:servicio" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="actualizarServicioResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:servicio" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="leerAlimentacion">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="leerAlimentacionResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:alimentacion" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="alimentacion">
        <xs:complexContent>
          <xs:extension base="tns:servicio">
            <xs:sequence>
              <xs:element name="tipoComida" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="crearPregunta">
        <xs:sequence>
          <xs:element name="arg0" type="tns:pregunta" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="crearPreguntaResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:pregunta" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="crearServicioAlimentacion">
        <xs:sequence>
          <xs:element name="arg0" type="tns:alimentacion" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="crearServicioAlimentacionResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:alimentacion" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="crearServicioTransporte">
        <xs:sequence>
          <xs:element name="arg0" type="tns:transporte" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="transporte">
        <xs:complexContent>
          <xs:extension base="tns:servicio">
            <xs:sequence>
              <xs:element name="horaLlegada" type="xs:string" minOccurs="0"/>
              <xs:element name="horaSalida" type="xs:string" minOccurs="0"/>
              <xs:element name="tipoTransporte" type="tns:tipoTransporte" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="crearServicioTransporteResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:transporte" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="leerTransporte">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="leerTransporteResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:transporte" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="leerServicio">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="leerServicioResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:servicio" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getListaPreguntas">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getListaPreguntasResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:pregunta" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="leerUsuarioPorNickname">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="leerUsuarioPorNicknameResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:usuario" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="agregarUsuarioAServicio">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
          <xs:element name="arg1" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="agregarUsuarioAServicioResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="crearProveedor">
        <xs:sequence>
          <xs:element name="arg0" type="tns:proveedor" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="proveedor">
        <xs:complexContent>
          <xs:extension base="tns:usuario">
            <xs:sequence>
              <xs:element name="servicios" type="tns:servicio" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="telefono" type="xs:string" minOccurs="0"/>
              <xs:element name="usuarioFacebook" type="xs:string" minOccurs="0"/>
              <xs:element name="usuarioInstagram" type="xs:string" minOccurs="0"/>
              <xs:element name="usuarioTwitter" type="xs:string" minOccurs="0"/>
              <xs:element name="web" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="crearProveedorResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:proveedor" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="leerOtro">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="leerOtroResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:otro" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="otro">
        <xs:complexContent>
          <xs:extension base="tns:servicio">
            <xs:sequence>
              <xs:element name="tipoServicio" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="leerComentario">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="leerComentarioResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:comentario" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="actualizarUsuario">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
          <xs:element name="arg1" type="tns:usuario" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="actualizarUsuarioResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:usuario" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="leerPaseo">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="leerPaseoResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:paseo" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="paseo">
        <xs:complexContent>
          <xs:extension base="tns:servicio">
            <xs:sequence>
              <xs:element name="horaLlegada" type="xs:string" minOccurs="0"/>
              <xs:element name="horaSalida" type="xs:string" minOccurs="0"/>
              <xs:element name="restricciones" type="xs:string" minOccurs="0"/>
              <xs:element name="sugerencias" type="xs:string" minOccurs="0"/>
              <xs:element name="trayecto" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="obtenerClientePorNickname">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="obtenerClientePorNicknameResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:cliente" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="eliminarUsuario">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="eliminarUsuarioResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="crearUsuario">
        <xs:sequence>
          <xs:element name="arg0" type="tns:usuario" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="crearUsuarioResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:usuario" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="crearServicio">
        <xs:sequence>
          <xs:element name="arg0" type="tns:servicio" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="crearServicioResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:servicio" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="leerUsuario">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="leerUsuarioResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:usuario" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="eliminarComentario">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="eliminarComentarioResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="crearComentario">
        <xs:sequence>
          <xs:element name="arg0" type="tns:comentario" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="crearComentarioResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:comentario" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="leerAlojamiento">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="leerAlojamientoResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:alojamiento" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="alojamiento">
        <xs:complexContent>
          <xs:extension base="tns:servicio">
            <xs:sequence>
              <xs:element name="extras" type="xs:string" minOccurs="0"/>
              <xs:element name="numHabitaciones" type="xs:int"/>
              <xs:element name="numHuespedes" type="xs:int"/>
              <xs:element name="tipoAlojamiento" type="tns:tipoAlojamiento" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="leerTodosUsuarios">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="leerTodosUsuariosResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:usuario" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="crearServicioPaseo">
        <xs:sequence>
          <xs:element name="arg0" type="tns:paseo" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="crearServicioPaseoResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:paseo" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="agregarPregunta">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
          <xs:element name="arg1" type="xs:string" minOccurs="0"/>
          <xs:element name="arg2" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="agregarPreguntaResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:pregunta" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="leerTodosServicio">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="leerTodosServicioResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:servicio" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="obtenerProveedorPorNickname">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="obtenerProveedorPorNicknameResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:proveedor" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="actualizarPregunta">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
          <xs:element name="arg1" type="tns:pregunta" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="actualizarPreguntaResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:pregunta" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="eliminarServicio">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="eliminarServicioResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="actualizarComentario">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
          <xs:element name="arg1" type="tns:comentario" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="actualizarComentarioResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:comentario" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="crearCliente">
        <xs:sequence>
          <xs:element name="arg0" type="tns:cliente" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="crearClienteResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:cliente" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="leerPregunta">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="leerPreguntaResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:pregunta" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="login">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
          <xs:element name="arg1" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="loginResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="crearServicioOtro">
        <xs:sequence>
          <xs:element name="arg0" type="tns:otro" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="crearServicioOtroResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:otro" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="leerTodosComentarios">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="leerTodosComentariosResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:comentario" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="crearServicioAlojamiento">
        <xs:sequence>
          <xs:element name="arg0" type="tns:alojamiento" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="crearServicioAlojamientoResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:alojamiento" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="eliminarPregunta">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="eliminarPreguntaResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="tipoServicio">
        <xs:restriction base="xs:string">
          <xs:enumeration value="TRANSPORTE"/>
          <xs:enumeration value="PASEO"/>
          <xs:enumeration value="OTRO"/>
          <xs:enumeration value="ALOJAMIENTO"/>
          <xs:enumeration value="ALIMENTACION"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:simpleType name="rolUsuario">
        <xs:restriction base="xs:string">
          <xs:enumeration value="CLIENTE"/>
          <xs:enumeration value="PROVEEDOR"/>
          <xs:enumeration value="ADMIN"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:simpleType name="tipoTransporte">
        <xs:restriction base="xs:string">
          <xs:enumeration value="TERRESTRE"/>
          <xs:enumeration value="ACUATICO"/>
          <xs:enumeration value="AEREO"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:simpleType name="tipoAlojamiento">
        <xs:restriction base="xs:string">
          <xs:enumeration value="HOSTAL"/>
          <xs:enumeration value="MOTEL"/>
          <xs:enumeration value="APARTHOTEL"/>
          <xs:enumeration value="APARTMENTO"/>
          <xs:enumeration value="CASARURAL"/>
          <xs:enumeration value="HOTEL"/>
          <xs:enumeration value="PENSION"/>
          <xs:enumeration value="ECOHOTEL"/>
          <xs:enumeration value="CAPSULA"/>
          <xs:enumeration value="CAMPAMENTO"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
  </types>
  <message name="crearServicio">
    <part name="parameters" element="tns:crearServicio"/>
  </message>
  <message name="crearServicioResponse">
    <part name="parameters" element="tns:crearServicioResponse"/>
  </message>
  <message name="crearServicioAlimentacion">
    <part name="parameters" element="tns:crearServicioAlimentacion"/>
  </message>
  <message name="crearServicioAlimentacionResponse">
    <part name="parameters" element="tns:crearServicioAlimentacionResponse"/>
  </message>
  <message name="crearServicioAlojamiento">
    <part name="parameters" element="tns:crearServicioAlojamiento"/>
  </message>
  <message name="crearServicioAlojamientoResponse">
    <part name="parameters" element="tns:crearServicioAlojamientoResponse"/>
  </message>
  <message name="crearServicioPaseo">
    <part name="parameters" element="tns:crearServicioPaseo"/>
  </message>
  <message name="crearServicioPaseoResponse">
    <part name="parameters" element="tns:crearServicioPaseoResponse"/>
  </message>
  <message name="crearServicioOtro">
    <part name="parameters" element="tns:crearServicioOtro"/>
  </message>
  <message name="crearServicioOtroResponse">
    <part name="parameters" element="tns:crearServicioOtroResponse"/>
  </message>
  <message name="crearServicioTransporte">
    <part name="parameters" element="tns:crearServicioTransporte"/>
  </message>
  <message name="crearServicioTransporteResponse">
    <part name="parameters" element="tns:crearServicioTransporteResponse"/>
  </message>
  <message name="leerServicio">
    <part name="parameters" element="tns:leerServicio"/>
  </message>
  <message name="leerServicioResponse">
    <part name="parameters" element="tns:leerServicioResponse"/>
  </message>
  <message name="leerPaseo">
    <part name="parameters" element="tns:leerPaseo"/>
  </message>
  <message name="leerPaseoResponse">
    <part name="parameters" element="tns:leerPaseoResponse"/>
  </message>
  <message name="leerTodosServicio">
    <part name="parameters" element="tns:leerTodosServicio"/>
  </message>
  <message name="leerTodosServicioResponse">
    <part name="parameters" element="tns:leerTodosServicioResponse"/>
  </message>
  <message name="actualizarServicio">
    <part name="parameters" element="tns:actualizarServicio"/>
  </message>
  <message name="actualizarServicioResponse">
    <part name="parameters" element="tns:actualizarServicioResponse"/>
  </message>
  <message name="eliminarServicio">
    <part name="parameters" element="tns:eliminarServicio"/>
  </message>
  <message name="eliminarServicioResponse">
    <part name="parameters" element="tns:eliminarServicioResponse"/>
  </message>
  <message name="agregarUsuarioAServicio">
    <part name="parameters" element="tns:agregarUsuarioAServicio"/>
  </message>
  <message name="agregarUsuarioAServicioResponse">
    <part name="parameters" element="tns:agregarUsuarioAServicioResponse"/>
  </message>
  <message name="getListaPreguntas">
    <part name="parameters" element="tns:getListaPreguntas"/>
  </message>
  <message name="getListaPreguntasResponse">
    <part name="parameters" element="tns:getListaPreguntasResponse"/>
  </message>
  <message name="leerAlimentacion">
    <part name="parameters" element="tns:leerAlimentacion"/>
  </message>
  <message name="leerAlimentacionResponse">
    <part name="parameters" element="tns:leerAlimentacionResponse"/>
  </message>
  <message name="leerAlojamiento">
    <part name="parameters" element="tns:leerAlojamiento"/>
  </message>
  <message name="leerAlojamientoResponse">
    <part name="parameters" element="tns:leerAlojamientoResponse"/>
  </message>
  <message name="leerOtro">
    <part name="parameters" element="tns:leerOtro"/>
  </message>
  <message name="leerOtroResponse">
    <part name="parameters" element="tns:leerOtroResponse"/>
  </message>
  <message name="leerTransporte">
    <part name="parameters" element="tns:leerTransporte"/>
  </message>
  <message name="leerTransporteResponse">
    <part name="parameters" element="tns:leerTransporteResponse"/>
  </message>
  <message name="crearUsuario">
    <part name="parameters" element="tns:crearUsuario"/>
  </message>
  <message name="crearUsuarioResponse">
    <part name="parameters" element="tns:crearUsuarioResponse"/>
  </message>
  <message name="leerUsuario">
    <part name="parameters" element="tns:leerUsuario"/>
  </message>
  <message name="leerUsuarioResponse">
    <part name="parameters" element="tns:leerUsuarioResponse"/>
  </message>
  <message name="leerTodosUsuarios">
    <part name="parameters" element="tns:leerTodosUsuarios"/>
  </message>
  <message name="leerTodosUsuariosResponse">
    <part name="parameters" element="tns:leerTodosUsuariosResponse"/>
  </message>
  <message name="actualizarUsuario">
    <part name="parameters" element="tns:actualizarUsuario"/>
  </message>
  <message name="actualizarUsuarioResponse">
    <part name="parameters" element="tns:actualizarUsuarioResponse"/>
  </message>
  <message name="eliminarUsuario">
    <part name="parameters" element="tns:eliminarUsuario"/>
  </message>
  <message name="eliminarUsuarioResponse">
    <part name="parameters" element="tns:eliminarUsuarioResponse"/>
  </message>
  <message name="leerUsuarioPorNickname">
    <part name="parameters" element="tns:leerUsuarioPorNickname"/>
  </message>
  <message name="leerUsuarioPorNicknameResponse">
    <part name="parameters" element="tns:leerUsuarioPorNicknameResponse"/>
  </message>
  <message name="login">
    <part name="parameters" element="tns:login"/>
  </message>
  <message name="loginResponse">
    <part name="parameters" element="tns:loginResponse"/>
  </message>
  <message name="obtenerClientePorNickname">
    <part name="parameters" element="tns:obtenerClientePorNickname"/>
  </message>
  <message name="obtenerClientePorNicknameResponse">
    <part name="parameters" element="tns:obtenerClientePorNicknameResponse"/>
  </message>
  <message name="obtenerProveedorPorNickname">
    <part name="parameters" element="tns:obtenerProveedorPorNickname"/>
  </message>
  <message name="obtenerProveedorPorNicknameResponse">
    <part name="parameters" element="tns:obtenerProveedorPorNicknameResponse"/>
  </message>
  <message name="crearCliente">
    <part name="parameters" element="tns:crearCliente"/>
  </message>
  <message name="crearClienteResponse">
    <part name="parameters" element="tns:crearClienteResponse"/>
  </message>
  <message name="crearProveedor">
    <part name="parameters" element="tns:crearProveedor"/>
  </message>
  <message name="crearProveedorResponse">
    <part name="parameters" element="tns:crearProveedorResponse"/>
  </message>
  <message name="crearComentario">
    <part name="parameters" element="tns:crearComentario"/>
  </message>
  <message name="crearComentarioResponse">
    <part name="parameters" element="tns:crearComentarioResponse"/>
  </message>
  <message name="leerComentario">
    <part name="parameters" element="tns:leerComentario"/>
  </message>
  <message name="leerComentarioResponse">
    <part name="parameters" element="tns:leerComentarioResponse"/>
  </message>
  <message name="leerTodosComentarios">
    <part name="parameters" element="tns:leerTodosComentarios"/>
  </message>
  <message name="leerTodosComentariosResponse">
    <part name="parameters" element="tns:leerTodosComentariosResponse"/>
  </message>
  <message name="actualizarComentario">
    <part name="parameters" element="tns:actualizarComentario"/>
  </message>
  <message name="actualizarComentarioResponse">
    <part name="parameters" element="tns:actualizarComentarioResponse"/>
  </message>
  <message name="eliminarComentario">
    <part name="parameters" element="tns:eliminarComentario"/>
  </message>
  <message name="eliminarComentarioResponse">
    <part name="parameters" element="tns:eliminarComentarioResponse"/>
  </message>
  <message name="crearPregunta">
    <part name="parameters" element="tns:crearPregunta"/>
  </message>
  <message name="crearPreguntaResponse">
    <part name="parameters" element="tns:crearPreguntaResponse"/>
  </message>
  <message name="leerPregunta">
    <part name="parameters" element="tns:leerPregunta"/>
  </message>
  <message name="leerPreguntaResponse">
    <part name="parameters" element="tns:leerPreguntaResponse"/>
  </message>
  <message name="leerTodosPreguntas">
    <part name="parameters" element="tns:leerTodosPreguntas"/>
  </message>
  <message name="leerTodosPreguntasResponse">
    <part name="parameters" element="tns:leerTodosPreguntasResponse"/>
  </message>
  <message name="actualizarPregunta">
    <part name="parameters" element="tns:actualizarPregunta"/>
  </message>
  <message name="actualizarPreguntaResponse">
    <part name="parameters" element="tns:actualizarPreguntaResponse"/>
  </message>
  <message name="eliminarPregunta">
    <part name="parameters" element="tns:eliminarPregunta"/>
  </message>
  <message name="eliminarPreguntaResponse">
    <part name="parameters" element="tns:eliminarPreguntaResponse"/>
  </message>
  <message name="agregarPregunta">
    <part name="parameters" element="tns:agregarPregunta"/>
  </message>
  <message name="agregarPreguntaResponse">
    <part name="parameters" element="tns:agregarPreguntaResponse"/>
  </message>
  <portType name="InterfaceECHOTECH">
    <operation name="crearServicio">
      <input ns1:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/crearServicioRequest" message="tns:crearServicio" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/crearServicioResponse" message="tns:crearServicioResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="crearServicioAlimentacion">
      <input ns3:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/crearServicioAlimentacionRequest" message="tns:crearServicioAlimentacion" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/crearServicioAlimentacionResponse" message="tns:crearServicioAlimentacionResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="crearServicioAlojamiento">
      <input ns5:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/crearServicioAlojamientoRequest" message="tns:crearServicioAlojamiento" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/crearServicioAlojamientoResponse" message="tns:crearServicioAlojamientoResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="crearServicioPaseo">
      <input ns7:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/crearServicioPaseoRequest" message="tns:crearServicioPaseo" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/crearServicioPaseoResponse" message="tns:crearServicioPaseoResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="crearServicioOtro">
      <input ns9:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/crearServicioOtroRequest" message="tns:crearServicioOtro" xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns10:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/crearServicioOtroResponse" message="tns:crearServicioOtroResponse" xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="crearServicioTransporte">
      <input ns11:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/crearServicioTransporteRequest" message="tns:crearServicioTransporte" xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns12:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/crearServicioTransporteResponse" message="tns:crearServicioTransporteResponse" xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="leerServicio">
      <input ns13:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/leerServicioRequest" message="tns:leerServicio" xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns14:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/leerServicioResponse" message="tns:leerServicioResponse" xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="leerPaseo">
      <input ns15:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/leerPaseoRequest" message="tns:leerPaseo" xmlns:ns15="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns16:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/leerPaseoResponse" message="tns:leerPaseoResponse" xmlns:ns16="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="leerTodosServicio">
      <input ns17:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/leerTodosServicioRequest" message="tns:leerTodosServicio" xmlns:ns17="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns18:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/leerTodosServicioResponse" message="tns:leerTodosServicioResponse" xmlns:ns18="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="actualizarServicio">
      <input ns19:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/actualizarServicioRequest" message="tns:actualizarServicio" xmlns:ns19="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns20:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/actualizarServicioResponse" message="tns:actualizarServicioResponse" xmlns:ns20="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="eliminarServicio">
      <input ns21:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/eliminarServicioRequest" message="tns:eliminarServicio" xmlns:ns21="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns22:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/eliminarServicioResponse" message="tns:eliminarServicioResponse" xmlns:ns22="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="agregarUsuarioAServicio">
      <input ns23:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/agregarUsuarioAServicioRequest" message="tns:agregarUsuarioAServicio" xmlns:ns23="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns24:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/agregarUsuarioAServicioResponse" message="tns:agregarUsuarioAServicioResponse" xmlns:ns24="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getListaPreguntas">
      <input ns25:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/getListaPreguntasRequest" message="tns:getListaPreguntas" xmlns:ns25="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns26:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/getListaPreguntasResponse" message="tns:getListaPreguntasResponse" xmlns:ns26="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="leerAlimentacion">
      <input ns27:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/leerAlimentacionRequest" message="tns:leerAlimentacion" xmlns:ns27="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns28:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/leerAlimentacionResponse" message="tns:leerAlimentacionResponse" xmlns:ns28="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="leerAlojamiento">
      <input ns29:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/leerAlojamientoRequest" message="tns:leerAlojamiento" xmlns:ns29="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns30:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/leerAlojamientoResponse" message="tns:leerAlojamientoResponse" xmlns:ns30="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="leerOtro">
      <input ns31:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/leerOtroRequest" message="tns:leerOtro" xmlns:ns31="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns32:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/leerOtroResponse" message="tns:leerOtroResponse" xmlns:ns32="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="leerTransporte">
      <input ns33:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/leerTransporteRequest" message="tns:leerTransporte" xmlns:ns33="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns34:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/leerTransporteResponse" message="tns:leerTransporteResponse" xmlns:ns34="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="crearUsuario">
      <input ns35:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/crearUsuarioRequest" message="tns:crearUsuario" xmlns:ns35="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns36:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/crearUsuarioResponse" message="tns:crearUsuarioResponse" xmlns:ns36="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="leerUsuario">
      <input ns37:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/leerUsuarioRequest" message="tns:leerUsuario" xmlns:ns37="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns38:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/leerUsuarioResponse" message="tns:leerUsuarioResponse" xmlns:ns38="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="leerTodosUsuarios">
      <input ns39:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/leerTodosUsuariosRequest" message="tns:leerTodosUsuarios" xmlns:ns39="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns40:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/leerTodosUsuariosResponse" message="tns:leerTodosUsuariosResponse" xmlns:ns40="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="actualizarUsuario">
      <input ns41:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/actualizarUsuarioRequest" message="tns:actualizarUsuario" xmlns:ns41="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns42:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/actualizarUsuarioResponse" message="tns:actualizarUsuarioResponse" xmlns:ns42="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="eliminarUsuario">
      <input ns43:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/eliminarUsuarioRequest" message="tns:eliminarUsuario" xmlns:ns43="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns44:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/eliminarUsuarioResponse" message="tns:eliminarUsuarioResponse" xmlns:ns44="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="leerUsuarioPorNickname">
      <input ns45:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/leerUsuarioPorNicknameRequest" message="tns:leerUsuarioPorNickname" xmlns:ns45="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns46:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/leerUsuarioPorNicknameResponse" message="tns:leerUsuarioPorNicknameResponse" xmlns:ns46="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="login">
      <input ns47:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/loginRequest" message="tns:login" xmlns:ns47="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns48:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/loginResponse" message="tns:loginResponse" xmlns:ns48="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="obtenerClientePorNickname">
      <input ns49:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/obtenerClientePorNicknameRequest" message="tns:obtenerClientePorNickname" xmlns:ns49="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns50:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/obtenerClientePorNicknameResponse" message="tns:obtenerClientePorNicknameResponse" xmlns:ns50="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="obtenerProveedorPorNickname">
      <input ns51:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/obtenerProveedorPorNicknameRequest" message="tns:obtenerProveedorPorNickname" xmlns:ns51="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns52:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/obtenerProveedorPorNicknameResponse" message="tns:obtenerProveedorPorNicknameResponse" xmlns:ns52="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="crearCliente">
      <input ns53:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/crearClienteRequest" message="tns:crearCliente" xmlns:ns53="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns54:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/crearClienteResponse" message="tns:crearClienteResponse" xmlns:ns54="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="crearProveedor">
      <input ns55:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/crearProveedorRequest" message="tns:crearProveedor" xmlns:ns55="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns56:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/crearProveedorResponse" message="tns:crearProveedorResponse" xmlns:ns56="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="crearComentario">
      <input ns57:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/crearComentarioRequest" message="tns:crearComentario" xmlns:ns57="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns58:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/crearComentarioResponse" message="tns:crearComentarioResponse" xmlns:ns58="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="leerComentario">
      <input ns59:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/leerComentarioRequest" message="tns:leerComentario" xmlns:ns59="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns60:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/leerComentarioResponse" message="tns:leerComentarioResponse" xmlns:ns60="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="leerTodosComentarios">
      <input ns61:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/leerTodosComentariosRequest" message="tns:leerTodosComentarios" xmlns:ns61="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns62:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/leerTodosComentariosResponse" message="tns:leerTodosComentariosResponse" xmlns:ns62="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="actualizarComentario">
      <input ns63:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/actualizarComentarioRequest" message="tns:actualizarComentario" xmlns:ns63="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns64:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/actualizarComentarioResponse" message="tns:actualizarComentarioResponse" xmlns:ns64="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="eliminarComentario">
      <input ns65:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/eliminarComentarioRequest" message="tns:eliminarComentario" xmlns:ns65="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns66:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/eliminarComentarioResponse" message="tns:eliminarComentarioResponse" xmlns:ns66="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="crearPregunta">
      <input ns67:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/crearPreguntaRequest" message="tns:crearPregunta" xmlns:ns67="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns68:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/crearPreguntaResponse" message="tns:crearPreguntaResponse" xmlns:ns68="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="leerPregunta">
      <input ns69:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/leerPreguntaRequest" message="tns:leerPregunta" xmlns:ns69="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns70:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/leerPreguntaResponse" message="tns:leerPreguntaResponse" xmlns:ns70="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="leerTodosPreguntas">
      <input ns71:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/leerTodosPreguntasRequest" message="tns:leerTodosPreguntas" xmlns:ns71="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns72:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/leerTodosPreguntasResponse" message="tns:leerTodosPreguntasResponse" xmlns:ns72="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="actualizarPregunta">
      <input ns73:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/actualizarPreguntaRequest" message="tns:actualizarPregunta" xmlns:ns73="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns74:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/actualizarPreguntaResponse" message="tns:actualizarPreguntaResponse" xmlns:ns74="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="eliminarPregunta">
      <input ns75:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/eliminarPreguntaRequest" message="tns:eliminarPregunta" xmlns:ns75="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns76:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/eliminarPreguntaResponse" message="tns:eliminarPreguntaResponse" xmlns:ns76="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="agregarPregunta">
      <input ns77:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/agregarPreguntaRequest" message="tns:agregarPregunta" xmlns:ns77="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns78:Action="http://interfaceservice.webservice.javeriana.edu.co/InterfaceECHOTECH/agregarPreguntaResponse" message="tns:agregarPreguntaResponse" xmlns:ns78="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

